@use './../base/utils' as *;


.contacts {
    min-height: 100vh;

    &_city {
        &_item {
            height: 90px;
            // border: 1.5px solid #D9DCE5;
            overflow: hidden;
            // transition: all 1s ease;
        }

        &_title {
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 21px;
            cursor: pointer;

            &:hover {
                background-color: var(--color-head);
                color: #fff;
            }

            &.active {
                background-color: var(--color-head);
                color: #fff;
            }
        }

        &_content {
            height: 100%;
            border: 1.5px solid #D9DCE5;
        }
    }



    &_active {
        height: 100%;
    }

}



// &_msk {
//     width: 100%;
//     height: 90px;
//     background-color: red;

//     &.active {
//         height: 100vh;
//     }
// }


// &_spb {
//     width: 100%;
//     height: 300px;
//     background-color: blue;
// }


// &_vrn {
//     width: 100%;
//     height: 300px;
//     background-color: rgb(140, 241, 7);
// }

// &_la {
//     width: 100%;
//     height: 300px;
//     background-color: rgb(245, 0, 212);
// }