@use './../base/utils' as *;


.contacts {
    min-height: 100vh;

    &_city {
        &_item {
            height: 90px;
            overflow: hidden;
        }

        &_title {
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 21px;
            cursor: pointer;

            &:hover {
                background-color: var(--color-head);
                color: #fff;
            }

            &.active {
                background-color: var(--color-head);
                color: #fff;
            }
        }

        &_content {
            height: 100%;
            border: 1.5px solid #D9DCE5;
            padding: 20px;
        }

        &_block {
            display: flex;
            gap: 30px;


            &:not(:last-child) {
                margin-bottom: 30px;
                padding-bottom: 20px;
                border-bottom: 1.5px solid #D9DCE5;
            }

            @include tablets {
                flex-wrap: wrap;
            }
        }

        &_map {
            min-width: 50%;

            @include mobile {
                pointer-events: none;
                max-height: 300px;
                overflow: hidden;
            }

            @include tablets {
                width: 100%;
                aspect-ratio: 1;
            }

            & iframe {
                height: 100%;
                width: 100%;
            }

            & img {
                height: 100%;
                width: 100%;
            }
        }

        &_info {
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;

            &-title {
                width: 100%;
                text-align: center;
                font-family: var(--font-family-accent);
                font-weight: 700;
                font-size: 28px;
                line-height: 36px;
                text-transform: uppercase;
                color: var(--color-accent);
                padding-bottom: 20px;
                border-bottom: 1.5px solid #D9DCE5;
            }


            & img {
                width: 100%;
            }


        }

        &_subtitle {
            font-family: var(--font-family-accent);
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: var(--color-accent);
        }
    }



    &_active {
        height: 100%;
    }

}