@use '../base/utils' as *;

.customers {
    margin-bottom: 140px;

    @include mobile {
        margin-bottom: 40px;
    }

    &__container {
        display: flex;
        gap: 30px 100px;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__left {
        max-width: 535px;
        position: relative;
        padding-left: 10%;
        display: flex;
        & img {
            object-fit: none;
        }
        &::before {
            content: '';
            position: absolute;
            background-color: var(--color-accent);
            width: 90%;
            height: 90%;
            top: 0;
            left: 0;
            border-radius: 50%;
            z-index: -1;
            transform: translate(0%, 5%); 
        }
    }




    &__right {
        max-width: 535px;
        max-height: 530px;
        overflow: hidden;

        & img {
            margin-bottom: 20px;
            max-height: 740px;
        }
        &-popular {
            color: var(--color-accent);
            font-family: var(--font-family-accent);
            margin-bottom: 30px;
        }

        &-title {
            font-family: var(--font-family-accent);
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        &-text {
            font-size: 20px;
            font-weight: 400;
            line-height: 27px;

            & a {
                text-decoration: underline;
                color: var(--color-accent);

            }
        }

    }

    &__autor {

        display: flex;
        column-gap: 10px;
        align-items: center;

        &-avatar img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }

    &__autor-name {
        color: var(--color-accent);
        font-family: var(--font-family-accent);
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        color: #000;
    }


    &__autor_star {
        display: flex;
        align-items: center;
        column-gap: 8px;

        &-rating {
            font-size: 14px;
            font-weight: 500;
            line-height: 15px;
        }
    }

}