.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    padding: 20px;
    display: none;
    top: 0;
    left: 0;
}

.modal {
    background-color: var(--color-bg);
    max-width: 900px;
    width: 100%;
    max-height: 500px;
    position: relative;
    padding: 20px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);

    &-title {
        text-align: center;
        font-family: var(--font-family-accent);
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
    }

    &-form {
        display: flex;
        flex-direction: column;
        padding: 40px;

        &-input {
            padding: 10px;
            background-color: #fff;
            margin-bottom: 10px;
            width: 100%;
        }
    }




    &-buttons {
        & p {
            display: flex;
            column-gap: 10px;
        }

        & button {
            padding: 10px;
            background-color: var(--color-accent);
            color: #fff;
            margin-bottom: 10px;

            &:hover {
                background-color: var(--color-head);
            }
        }
    }
}

.close-btn {
    width: 30px;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    right: 10px;
}