@use '../base/utils' as *;

.nav {
    margin-bottom: 27px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-family: var(--font-family-accent);
        font-size: 24px;
        font-weight: 700;
        line-height: 29.26px;
        color: var(--color-accent);
    }

    &__list {
        display: flex;
        column-gap: 50px;
        align-items: center;
        @include laptop {
            column-gap: 30px;
        }
        @include tablets {
            position: fixed;
            top: inherit;
            right: inherit;
            width: 90%;
            height: 100%;
            flex-direction: column;
            background-color: var(--color-main);
            row-gap: 10px;
            margin-left: auto;
            padding-top: 50px;
            transition: all 0.5s ease;
        }
    }

    &__link {
        color: var(--color-text);
        font-size: 16px;
        font-weight: 400;
        line-height: 20.83px;
    }

    &__actions {
        display: flex;
        column-gap: 30px;
        &--menu {
            z-index: 11;
            width: 24px;
            height: 24px;
            display: none;
            flex-direction: column;
            justify-content: space-around;
            position: relative;

            & span {
                display: block;
                width: 60%;
                height: 12%;
                background-color: var(--color-accent);
                transition: all .5s ease;

                &:nth-child(2) {
                    width: 100%;
                }

                &:nth-child(3) {
                    align-self: flex-end;
                }
            }

            &.open span {
                &:nth-child(1) {
                    position: absolute;
                    transform: rotate(45deg);
                    width: 100%;
                    top: 10px;
                    left: 0;
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    position: absolute;
                    transform: rotate(-45deg);
                    width: 100%;
                    top: 10px;
                    left: 0;
                }
            }

            @include tablets {
                display: flex;
            }
        }


    }
}

.menu__container {
    @include tablets {
        position: fixed;
        width: 100%;
        height: 100svh;
        top: 0;
        right: -100%;
        background-color: #0000006e;
        row-gap: 10px;
        z-index: 10;
    }

    &.open {
        right: 0;
    }
}