body {
    font-family: var(--font-family-base);
    background-color: var(--color-main);
    color: var(--color-text);
}

.btn {
    display: inline-block;
    color: white;
}



a {
    color: inherit;
}