:root {
    --color-main: #FCFBFF;
    --color-text: #161616;
    --color-head: #154444;
    --color-bg: #F4F6F6;
    --color-yellow: #FFB624;
    --color-orange: #EF5423;
    --color-accent: #244D4D;
    --color-after: #DEE4E2;
    --color-text2: #383738;
    --color-share: #ECF4FF;
    --color-silver: #919090;
    --footer-bg:#305F64;

    --font-family-base: 'Open Sans', sans-serif;
    --font-family-accent: 'Montserrat', sans-serif;

    --container-width: 1200px;
    --container-padding: 20px;
}